div {
    height: 3vw;
    background-color:rgba(0, 42, 255, 0.666);
    /* color:whitesmoke; */
}
.text-header{
    color:rgb(162, 255, 0);
    font-size:150%;
    display:flex;
    justify-content:center;
}